.form-container{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
}


.task-container{ 
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}
.task-column{ 
    text-align: center;
}


/* Form */
form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.task-input {
    flex: 1;
    /* min-width: 300px; */
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
}

.task-input:focus {
    border-color: #007bff;
    outline: none;
}




/* Task List */
ul {
    list-style: none;
    padding: 0;
    overflow-y: auto;
    max-height: 300px;
    padding: 0.5rem 0rem;
}
.no-tasks{ 
    text-align: center;
}
.no-tasks img {
    width: 300px;
    height: 300px;
    opacity: 1 !important; /* Ensure opacity stays at 1 */
    animation: floatAnimation 2s ease-in-out alternate infinite;
    margin-bottom: 1rem;
}

@keyframes floatAnimation {
    0% {
        transform: translateY(5%);
    }
    100% {
        transform: translateY(-5%);
    }
}


@keyframes fadeIn {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(5%);
    }
    100% {
        transform: translateY(10%);
    }
}
@media screen and (max-width: 768px){   
    .task-container{ 
        flex-direction: column;
        align-items: center;
    }
    .task-column{ 
        width: 100%;
    }
    ul{ 
        max-height: 200px;
    }
}

