*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #ffffff;
  --text-color: #151515;
  --nav-bg: #1d1e1f;
  --h1-clr: #1d1e1f;
  --nav-text-clr:#EAE5E1 ; 
}

[data-theme="dark"] {
  --bg-color: #1e1e1e;
  --nav-bg: #EAE5E1;
  --h1-clr: #EAE5E1; 
  --nav-text-clr: #1d1e1f;
}


body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-color);
  /* color: var(--text-color); */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  transition: all 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

nav{ 
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 1rem 1rem;
  background-color: var(--nav-bg);
}

h1 {
  font-size: 24px;
  color: var(--h1-clr);
  /* margin-bottom: 15px; */
}

h2{ 
  color: var(--h1-clr);
}
button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s ease-in-out;
}

button:hover {
  background: #0056b3;
}


